{% extends 'movies/base.html'%}
{% load static %}
{% block content %}
<div class="container">
  <div class="text-center container">
    <br>
    <h2 class="text-center">Search for your favorite Movies</h2>
    <br>
    <form method="GET">
      <input type="text" name="name" placeholder="Search..." class="text-center">
      <button type="submit" class="btn-success btn-md">Search Movie</button>
    </form>
  </div>
  <br><br>
  <div class="row">
    {% for moviez in all_movies %}
    <div class="col-md-4 col-sm-6 col-lg-3">
      <div class="card">
        <a href="youtube/{{moviez.id}}"><img class="card-img-top"
            src="https://image.tmdb.org/t/p/w500/{{ moviez.poster_path}}" alt="Card image cap"></a>
        <div class="card-body text-center">
          <p class="card-title">{{ moviez.title }}</p>
          <hr>
          <!-- <p class="card-text">{{ moviez.overview }}</p> -->
          <a href="/movies/{{moviez.id}}"><input type="submit" value="Learn More" class="btn btn-danger btn-sm"
              type="button" /></a>
        </div>
      </div>
      <br><br><br>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}